
ul li{list-style: none;}
.main {background:#fff}
.main_tit {
font: normal 30px "Microsoft YaHei", "寰蒋闆呴粦", "SimHei", "榛戜綋";
color: #2d2d2d; background:url(../images/835_06.gif) left bottom repeat-x; padding-bottom:10px; margin-bottom:10px
}
.right{ float:right}

.f14{ font-size:14px}

.header{ background:url(../images/835_02.gif) repeat-x; height:47px; }
.header #logo{ position:absolute; left:0; top:0; z-index:100000}
/**/
#mainnav{ height:47px; margin:0; padding:0}
#mainnav ul { padding-left:230px; height:47px;position: relative;
left: 0;
display: block;
float: left;
margin: 0 10px 0 0;}
#mainnav ul li{ list-style:none; float:left;  line-height:47px; margin-right:20px; font-weight:bold; font-size:14px; color:#FFF}

#mainnav ul li a{ color:#FFF; font-family:"Microsoft YaHei"}

a{color:#696969;text-decoration: none;}
.navbar-brand{font: normal 16px "Microsoft YaHei"}
.tt0 {
height: 47px;
line-height: 47px;
border-bottom: 1px solid #2d2d2d;
}

.tt0 h3 a, .tt0 h3 a:visited {
color: #000;
text-decoration: none;
font: normal 30px/47px "Microsoft YaHei"
}
.tt1 {
height: 36px;
line-height: 36px;
background: url(../images/repeatX.png) 0 19px repeat-x;
}
.tt1 h3 {
width: 130px;
height: 36px;
background-color: #fff;
margin: 0 auto;
text-align: center;
font: normal 24px/36px "Microsoft YaHei";
color: #000;
}
.tt1 h3 a, .tt1 h3 a:visited {
color: #000;
text-decoration: none;
}
.hot_video{margin-top:10px}
.rank0 {
padding-left: 25px;
line-height: 30px;
background: url(../images/texts_3st.png) -580px -793px no-repeat;
}
.rank0 li a{color:#2d2d2d}

.list0 {
line-height: 28px;padding: 10px 0;
}
.list0  li a{font: 14px "Arial", "SimSun";color: #2d2d2d;}
.tcms .media-list{padding:20px 0;}
.lyyj .media-list{margin-top:20px}
.lyyj .media-body .media-heading {font: 16px  "Microsoft YaHei"; margin-bottom:5px}
.lyyj .media-body .media-heading  a{font: 16px  "Microsoft YaHei"}
 .media-body  p{font-size: 12px;
color: #8B8A8A;
}

.hot_news{border-bottom: 1px dotted #ccc;}
.hot_news p{font-size:12px;color:#696969}
.hot_news h2 a{color:#2d2d2d;font: 20px "Arial", "Microsoft YaHei";}

.jumbotron {
position: relative;
padding: 40px 0;
color: #fff;
text-align: center;
text-shadow: 0 1px 3px rgba(0,0,0,.4),0 0 30px rgba(0,0,0,.075);
background: #020031;
background: -moz-linear-gradient(45deg,#020031 0,#6d3353 100%);
background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#020031),color-stop(100%,#6d3353));
background: -webkit-linear-gradient(45deg,#020031 0,#6d3353 100%);
background: -o-linear-gradient(45deg,#020031 0,#6d3353 100%);
background: -ms-linear-gradient(45deg,#020031 0,#6d3353 100%);
background: linear-gradient(45deg,#236B01 0,#538294 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020031', endColorstr='#6d3353', GradientType=1);
-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
}
.masthead {
padding: 90px 0 110px;
margin-bottom: 0;
color: #fff;
}
.jumbotron:after {
content: '';
display: block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: url(../img/2.jpg) repeat center center;
opacity: .8;background-size: cover;
}
.container{font-family:"Microsoft YaHei"}
#carousel-example-generic{margin-top:20px}